$border-color: #aaa;
$handle-color: #ddd;

:root {
  --tree-side-width: 200px;
  --output-side-height: 200px;
}
body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}
pre.error {
  color: #dc3545;
}
.tree {
  ul {
    list-style: none;
    padding: 0 0 0 2.5ch;

    li {
      &.directory::before {
        content: '📁';
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 25px;
  gap: 0px 0px;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  height: 100vh;
}

.nav {
  grid-area: nav;
  border-bottom: 1px solid $border-color;
}

.footer {
  grid-area: footer;
  border-top: 1px solid $border-color;
}

.content {
  display: grid;
  grid-template-columns: var(--tree-side-width) 4px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "tree content_seperator code_pane";
  grid-area: content;
}

.tree {
  grid-area: tree;
}

#content_seperator {
  grid-area: content_seperator;
  border-left: 1px solid $border-color;
  background-color: $handle-color;
  border-right: 1px solid $border-color;
  &:hover {
    cursor: col-resize;
  }
}

.code_pane {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 1fr 4px var(--output-side-height);
  gap: 0px 0px;
  grid-area: code_pane;
  grid-template-areas:
    "code_tabs"
    "code"
    "code_pane_seperator"
    "output";
}

.code_tabs {
  grid-area: code_tabs;
  border-bottom: 1px solid $border-color;
  ul {
    margin: 0;
    li {
      display: inline;
      line-height: 21px;
      padding: 0 2ch;
      border-top: 1px solid #666;
      border-left: 1px solid #666;
      border-right: 1px solid #666;
      border-radius: 4px 4px 0 0;
      background-color: $handle-color;
      &.active {
        background-color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.code {
  grid-area: code;
}

#code_pane_seperator {
  grid-area: code_pane_seperator;
  border-top: 1px solid $border-color;
  background-color: $handle-color;
  border-bottom: 1px solid $border-color;
  &:hover {
    cursor: row-resize;
  }
}

.output {
  grid-area: output;
}
#editor {
  height: 100%;
  overflow-x: scroll;
}
#output {
  width: 100%;
  height: 100%;
  border: none;
}
